# Reading In Files

In [1]:
import pandas as pd

In [9]:
df = pd.read_csv(r"C:\Users\user\Desktop\Data Projects\csv files\Companies.csv")
df

,Rank,Name,Industry,Revenue,Profit,Employees,Headquarters[note 1],State-owned
0,0,Walmart,Retail,"$648,125","$15,511","2,100,000",United States,[1]
1,1,Amazon,Retail,"$574,785","$30,425","1,525,000",United States,[4]
2,2,State Grid Corporation of China,Electricity,"$545,948","$9,204","1,361,423",China,[5]
3,3,Saudi Aramco,Oil and gas,"$494,890","$129,699","73,311",Saudi Arabia,[6]
4,4,China Petrochemical Corporation,Oil and gas,"$429,700","$9,393","513,434",China,[7]
5,5,China National Petroleum Corporation,Oil and gas,"$421,714","$21,294","1,026,301",China,[8]
6,6,Vitol,Commodities,"$400,000","$13,000","1,560",Switzerland,[9][10]
7,7,Apple,Information technology,"$383,482","$96,995","161,000",United States,[11]
8,8,UnitedHealth Group,Healthcare,"$371,622","$22,381","440,000",United States,[12]
9,9,Berkshire Hathaway,Financials,"$364,482","$96,223","396,500",United States,[13]
10,10,CVS Health,Healthcare,"$357,776","$8,344","259,500",United States,[14]
11,11,Volkswagen Group,Automotive,"$348,408","$17,945","684,025",Germany,[15]
12,12,ExxonMobil,Oil and gas,"$344,582","$36,010","61,500",United States,[16]
13,13,Shell,Oil and gas,"$323,183","$19,359","103,000",United Kingdom,[17]
14,14,China State Construction Engineering,Construction,"$320,431","$4,272","382,894",China,[18]
15,15,Toyota,Automotive,"$312,018","$34,214","380,793",Japan,[19]
16,16,McKesson,Healthcare,"$308,951","$3,002","48,000",United States,[20]
17,17,Alphabet,Information technology,"$307,394","$73,795","182,502",United States,[21]
18,18,Cencora,Healthcare,"$262,173","$1,745","44,000",United States,[22]
19,19,Trafigura,Commodities,"$244,280","$7,393","12,479",Singapore,[23]
20,20,Costco,Retail,"$242,290","$6,292","316,000",United States,[24]
21,21,JPMorgan Chase,Financials,"$239,425","$49,552","309,926",United States,[25]
22,22,Industrial and Commercial Bank of China,Financials,"$222,484","$51,417","419,252",China,[26]
23,23,TotalEnergies,Oil and gas,"$218,945","$21,384","102,579",France,[27]
24,24,Glencore,Commodities,"$217,829","$4,280","83,426",Switzerland,[28]
25,25,BP,Oil and gas,"$213,032","$15,239","79,400",United Kingdom,[29]
26,26,Microsoft,Information technology,"$211,915","$72,361","221,000",United States,[30]
27,27,Cardinal Health,Healthcare,"$205,012",$261,"47,520",United States,[31]
28,28,Stellantis,Automotive,"$204,908","$20,103","258,275",Netherlands,[32]
29,29,Chevron,Oil and gas,"$200,949","$21,369","45,600",United States,[33]
30,30,China Construction Bank,Financials,"$199,826","$46,990","376,871",China,[34]
31,31,Samsung Electronics,Electronics,"$198,257","$11,082","267,860",South Korea,[35]
32,32,Foxconn,Electronics,"$197,876","$4,563","621,393",Taiwan,[36]
33,33,Cigna,Healthcare,"$195,265","$5,164","71,413",United States,[37]
34,34,Agricultural Bank of China,Financials,"$192,398","$38,049","451,003",China,[38]
35,35,Schwarz Gruppe,Retail,"$180,576","$16,988","575,000",Germany,[39]
36,36,China Railway Engineering Corporation,Construction,"$178,563","$2,152","314,149",China,[40]
37,37,Cargill,Conglomerate,"$177,000","$17,641","160,000",United States,[41]
38,38,Ford Motor Company,Automotive,"$176,191","$4,347","177,000",United States,[42]
39,39,Bank of China,Financials,"$172,328","$32,758","306,931",China,[43]
40,40,Bank of America,Financials,"$171,912","$26,515","212,985",United States,[44]
41,41,General Motors,Automotive,"$171,842","$10,127","163,000",United States,[45]
42,42,Elevance Health,Healthcare,"$171,340","$5,987","104,900",United States,[46]
43,43,BMW Group,Automotive,"$168,103","$12,205","154,950",Germany,[47]
44,44,Mercedes-Benz Group,Automotive,"$165,638","$15,417","166,056",Germany,[48]
45,45,China Railway Construction Corporation,Construction,"$160,847","$1,701","336,433",China,[49]
46,46,Baowu,Steel,"$157,216","$2,494","258,697",China,[50]
47,47,Citigroup,Financials,"$156,820","$9,228","237,925",United States,[51]
48,48,Centene Corporation,Healthcare,"$153,999","$2,702","67,700",United States,[52]
49,49,JD.com,Retail,"$153,999","$3,414","517,124",China,[53]

In [13]:
df = pd.read_csv(r"C:\Users\user\Desktop\Data Projects\csv files\Companies.csv")
df

,Rank,Name,Industry,Revenue,Profit,Employees,Headquarters[note 1],State-owned
0,0,Walmart,Retail,"$648,125","$15,511","2,100,000",United States,[1]
1,1,Amazon,Retail,"$574,785","$30,425","1,525,000",United States,[4]
2,2,State Grid Corporation of China,Electricity,"$545,948","$9,204","1,361,423",China,[5]
3,3,Saudi Aramco,Oil and gas,"$494,890","$129,699","73,311",Saudi Arabia,[6]
4,4,China Petrochemical Corporation,Oil and gas,"$429,700","$9,393","513,434",China,[7]
5,5,China National Petroleum Corporation,Oil and gas,"$421,714","$21,294","1,026,301",China,[8]
6,6,Vitol,Commodities,"$400,000","$13,000","1,560",Switzerland,[9][10]
7,7,Apple,Information technology,"$383,482","$96,995","161,000",United States,[11]
8,8,UnitedHealth Group,Healthcare,"$371,622","$22,381","440,000",United States,[12]
9,9,Berkshire Hathaway,Financials,"$364,482","$96,223","396,500",United States,[13]
10,10,CVS Health,Healthcare,"$357,776","$8,344","259,500",United States,[14]
11,11,Volkswagen Group,Automotive,"$348,408","$17,945","684,025",Germany,[15]
12,12,ExxonMobil,Oil and gas,"$344,582","$36,010","61,500",United States,[16]
13,13,Shell,Oil and gas,"$323,183","$19,359","103,000",United Kingdom,[17]
14,14,China State Construction Engineering,Construction,"$320,431","$4,272","382,894",China,[18]
15,15,Toyota,Automotive,"$312,018","$34,214","380,793",Japan,[19]
16,16,McKesson,Healthcare,"$308,951","$3,002","48,000",United States,[20]
17,17,Alphabet,Information technology,"$307,394","$73,795","182,502",United States,[21]
18,18,Cencora,Healthcare,"$262,173","$1,745","44,000",United States,[22]
19,19,Trafigura,Commodities,"$244,280","$7,393","12,479",Singapore,[23]
20,20,Costco,Retail,"$242,290","$6,292","316,000",United States,[24]
21,21,JPMorgan Chase,Financials,"$239,425","$49,552","309,926",United States,[25]
22,22,Industrial and Commercial Bank of China,Financials,"$222,484","$51,417","419,252",China,[26]
23,23,TotalEnergies,Oil and gas,"$218,945","$21,384","102,579",France,[27]
24,24,Glencore,Commodities,"$217,829","$4,280","83,426",Switzerland,[28]
25,25,BP,Oil and gas,"$213,032","$15,239","79,400",United Kingdom,[29]
26,26,Microsoft,Information technology,"$211,915","$72,361","221,000",United States,[30]
27,27,Cardinal Health,Healthcare,"$205,012",$261,"47,520",United States,[31]
28,28,Stellantis,Automotive,"$204,908","$20,103","258,275",Netherlands,[32]
29,29,Chevron,Oil and gas,"$200,949","$21,369","45,600",United States,[33]
30,30,China Construction Bank,Financials,"$199,826","$46,990","376,871",China,[34]
31,31,Samsung Electronics,Electronics,"$198,257","$11,082","267,860",South Korea,[35]
32,32,Foxconn,Electronics,"$197,876","$4,563","621,393",Taiwan,[36]
33,33,Cigna,Healthcare,"$195,265","$5,164","71,413",United States,[37]
34,34,Agricultural Bank of China,Financials,"$192,398","$38,049","451,003",China,[38]
35,35,Schwarz Gruppe,Retail,"$180,576","$16,988","575,000",Germany,[39]
36,36,China Railway Engineering Corporation,Construction,"$178,563","$2,152","314,149",China,[40]
37,37,Cargill,Conglomerate,"$177,000","$17,641","160,000",United States,[41]
38,38,Ford Motor Company,Automotive,"$176,191","$4,347","177,000",United States,[42]
39,39,Bank of China,Financials,"$172,328","$32,758","306,931",China,[43]
40,40,Bank of America,Financials,"$171,912","$26,515","212,985",United States,[44]
41,41,General Motors,Automotive,"$171,842","$10,127","163,000",United States,[45]
42,42,Elevance Health,Healthcare,"$171,340","$5,987","104,900",United States,[46]
43,43,BMW Group,Automotive,"$168,103","$12,205","154,950",Germany,[47]
44,44,Mercedes-Benz Group,Automotive,"$165,638","$15,417","166,056",Germany,[48]
45,45,China Railway Construction Corporation,Construction,"$160,847","$1,701","336,433",China,[49]
46,46,Baowu,Steel,"$157,216","$2,494","258,697",China,[50]
47,47,Citigroup,Financials,"$156,820","$9,228","237,925",United States,[51]
48,48,Centene Corporation,Healthcare,"$153,999","$2,702","67,700",United States,[52]
49,49,JD.com,Retail,"$153,999","$3,414","517,124",China,[53]

In [17]:
df = pd.read_csv(r"C:\Users\user\Desktop\Data Projects\txt files\Apocolypse Food Prep.txt", sep = "\t")
df

      Store            Product   Price        Date
0   Walmart               Rice  $25.00  01/01/2022
1    Costco               Rice  $23.00  01/01/2022
2    Target               Rice  $22.99  01/01/2022
3   Walmart               Rice  $25.75  01/02/2022
4    Costco               Rice  $23.99  01/02/2022
5    Target               Rice  $23.25  01/02/2022
6   Walmart               Rice  $26.99  01/03/2022
7    Costco               Rice  $24.99  01/03/2022
8    Target               Rice  $24.25  01/03/2022
9   Walmart               Rice  $26.99  01/04/2022
10   Costco               Rice  $25.25  01/04/2022
11   Target               Rice  $24.75  01/04/2022
12  Walmart        Dried Beans  $22.99  01/01/2022
13   Costco        Dried Beans  $20.99  01/01/2022
14   Target        Dried Beans  $23.99  01/01/2022
15  Walmart        Dried Beans  $23.99  01/02/2022
16   Costco        Dried Beans  $22.99  01/02/2022
17   Target        Dried Beans  $24.99  01/02/2022
18  Walmart        Dried Beans  $24.25  01/03/2022
19   Costco        Dried Beans  $22.99  01/03/2022
20   Target        Dried Beans  $25.45  01/03/2022
21  Walmart        Dried Beans  $24.49  01/04/2022
22   Costco        Dried Beans  $23.99  01/04/2022
23   Target        Dried Beans  $25.79  01/04/2022
24  Walmart     Bottled Water    $5.00  01/01/2022
25   Costco     Bottled Water    $4.25  01/01/2022
26   Target     Bottled Water    $4.99  01/01/2022
27  Walmart     Bottled Water    $5.25  01/02/2022
28   Costco     Bottled Water    $4.49  01/02/2022
29   Target     Bottled Water    $5.15  01/02/2022
30  Walmart     Bottled Water    $5.45  01/03/2022
31   Costco     Bottled Water    $4.80  01/03/2022
32   Target     Bottled Water    $5.25  01/03/2022
33  Walmart     Bottled Water    $5.75  01/04/2022
34   Costco     Bottled Water    $4.89  01/04/2022
35   Target     Bottled Water    $5.35  01/04/2022
36  Walmart  Canned Vegetables   $0.65  01/01/2022
37   Costco  Canned Vegetables   $0.85  01/01/2022
38   Target  Canned Vegetables   $0.65  01/01/2022
39  Walmart  Canned Vegetables   $0.75  01/02/2022
40   Costco  Canned Vegetables   $0.85  01/02/2022
41   Target  Canned Vegetables   $0.69  01/02/2022
42  Walmart  Canned Vegetables   $0.85  01/03/2022
43   Costco  Canned Vegetables   $0.85  01/03/2022
44   Target  Canned Vegetables   $0.74  01/03/2022
45  Walmart  Canned Vegetables   $1.00  01/04/2022
46   Costco  Canned Vegetables   $0.85  01/04/2022
47   Target  Canned Vegetables   $0.79  01/04/2022
48  Walmart               Milk   $2.00  01/01/2022
49   Costco               Milk   $2.30  01/01/2022
50   Target               Milk   $2.20  01/01/2022
51  Walmart               Milk   $2.10  01/02/2022
52   Costco               Milk   $2.40  01/02/2022
53   Target               Milk   $2.45  01/02/2022
54  Walmart               Milk   $2.40  01/03/2022
55   Costco               Milk   $2.50  01/03/2022
56   Target               Milk   $2.70  01/03/2022
57  Walmart               Milk   $2.90  01/04/2022
58   Costco               Milk   $2.70  01/04/2022
59   Target               Milk   $3.00  01/04/2022

In [19]:
df = pd.read_table(r"C:\Users\user\Desktop\Data Projects\txt files\Apocolypse Food Prep.txt")
df

      Store            Product   Price        Date
0   Walmart               Rice  $25.00  01/01/2022
1    Costco               Rice  $23.00  01/01/2022
2    Target               Rice  $22.99  01/01/2022
3   Walmart               Rice  $25.75  01/02/2022
4    Costco               Rice  $23.99  01/02/2022
5    Target               Rice  $23.25  01/02/2022
6   Walmart               Rice  $26.99  01/03/2022
7    Costco               Rice  $24.99  01/03/2022
8    Target               Rice  $24.25  01/03/2022
9   Walmart               Rice  $26.99  01/04/2022
10   Costco               Rice  $25.25  01/04/2022
11   Target               Rice  $24.75  01/04/2022
12  Walmart        Dried Beans  $22.99  01/01/2022
13   Costco        Dried Beans  $20.99  01/01/2022
14   Target        Dried Beans  $23.99  01/01/2022
15  Walmart        Dried Beans  $23.99  01/02/2022
16   Costco        Dried Beans  $22.99  01/02/2022
17   Target        Dried Beans  $24.99  01/02/2022
18  Walmart        Dried Beans  $24.25  01/03/2022
19   Costco        Dried Beans  $22.99  01/03/2022
20   Target        Dried Beans  $25.45  01/03/2022
21  Walmart        Dried Beans  $24.49  01/04/2022
22   Costco        Dried Beans  $23.99  01/04/2022
23   Target        Dried Beans  $25.79  01/04/2022
24  Walmart     Bottled Water    $5.00  01/01/2022
25   Costco     Bottled Water    $4.25  01/01/2022
26   Target     Bottled Water    $4.99  01/01/2022
27  Walmart     Bottled Water    $5.25  01/02/2022
28   Costco     Bottled Water    $4.49  01/02/2022
29   Target     Bottled Water    $5.15  01/02/2022
30  Walmart     Bottled Water    $5.45  01/03/2022
31   Costco     Bottled Water    $4.80  01/03/2022
32   Target     Bottled Water    $5.25  01/03/2022
33  Walmart     Bottled Water    $5.75  01/04/2022
34   Costco     Bottled Water    $4.89  01/04/2022
35   Target     Bottled Water    $5.35  01/04/2022
36  Walmart  Canned Vegetables   $0.65  01/01/2022
37   Costco  Canned Vegetables   $0.85  01/01/2022
38   Target  Canned Vegetables   $0.65  01/01/2022
39  Walmart  Canned Vegetables   $0.75  01/02/2022
40   Costco  Canned Vegetables   $0.85  01/02/2022
41   Target  Canned Vegetables   $0.69  01/02/2022
42  Walmart  Canned Vegetables   $0.85  01/03/2022
43   Costco  Canned Vegetables   $0.85  01/03/2022
44   Target  Canned Vegetables   $0.74  01/03/2022
45  Walmart  Canned Vegetables   $1.00  01/04/2022
46   Costco  Canned Vegetables   $0.85  01/04/2022
47   Target  Canned Vegetables   $0.79  01/04/2022
48  Walmart               Milk   $2.00  01/01/2022
49   Costco               Milk   $2.30  01/01/2022
50   Target               Milk   $2.20  01/01/2022
51  Walmart               Milk   $2.10  01/02/2022
52   Costco               Milk   $2.40  01/02/2022
53   Target               Milk   $2.45  01/02/2022
54  Walmart               Milk   $2.40  01/03/2022
55   Costco               Milk   $2.50  01/03/2022
56   Target               Milk   $2.70  01/03/2022
57  Walmart               Milk   $2.90  01/04/2022
58   Costco               Milk   $2.70  01/04/2022
59   Target               Milk   $3.00  01/04/2022

In [35]:
df = pd.read_json(r"C:\Users\user\Downloads\json_sample.json")
df

,12 Strong,A Fantastic Woman (Una Mujer Fantástica),All The Money In The World,Bilal: A New Breed Of Hero,Call Me By Your Name,Darkest Hour,Den Of Thieves,Ferdinand,Fifty Shades Freed,Film Stars Don'T Die In Liverpool,Forever My Girl,Golden Exits,Hostiles,"I, Tonya",Insidious: The Last Key,Jumanji: Welcome To The Jungle,Mary And The Witch'S Flower,Maze Runner: The Death Cure,Molly'S Game,Paddington 2,Padmaavat,Permission,Peter Rabbit,Phantom Thread,Pitch Perfect 3,Proud Mary,Sanpo Suru Shinryakusha,Star Wars: The Last Jedi,The 15:17 To Paris,The Commuter,The Disaster Artist,The Greatest Showman,The Insult (L'Insulte),The Post,The Shape Of Water,"Three Billboards Outside Ebbing, Missouri",Till The End Of The World,Winchester
0,"{'Genre': 'Action', 'Gross': '$453,173', 'IMDB...","{'popcornscore': 83, 'rating': 'R', 'tomatosco...","{'popcornscore': 71, 'rating': 'R', 'tomatosco...","{'popcornscore': 91, 'rating': 'PG13', 'tomato...","{'popcornscore': 87, 'rating': 'R', 'tomatosco...","{'popcornscore': 84, 'rating': 'PG13', 'tomato...","{'Genre': 'Action', 'Gross': '$491,898', 'IMDB...","{'popcornscore': 49, 'rating': 'PG', 'tomatosc...","{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'popcornscore': 69, 'rating': 'R', 'tomatosco...","{'popcornscore': 91, 'rating': 'PG', 'tomatosc...","{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'Genre': 'Adventure', 'Gross': '$548,886', 'I...","{'popcornscore': 89, 'rating': 'R', 'tomatosco...","{'popcornscore': 51, 'rating': 'PG13', 'tomato...","{'Genre': 'Action', 'Gross': '$760,867', 'IMDB...","{'popcornscore': 78, 'rating': 'PG', 'tomatosc...","{'Genre': 'Action', 'Gross': '$720,463', 'IMDB...","{'popcornscore': 85, 'rating': 'R', 'tomatosco...","{'Genre': 'Animation', 'Gross': '$184,414', 'I...","{'popcornscore': 62, 'rating': 'NR', 'tomatosc...","{'Genre': 'Comedy', 'Gross': 'unknown', 'IMDB ...","{'Genre': 'Animation', 'Gross': 'unknown', 'IM...","{'popcornscore': 68, 'rating': 'R', 'tomatosco...","{'popcornscore': 52, 'rating': 'PG13', 'tomato...","{'popcornscore': 56, 'rating': 'R', 'tomatosco...","{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'popcornscore': 48, 'rating': 'PG13', 'tomato...","{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'popcornscore': 48, 'rating': 'PG13', 'tomato...","{'popcornscore': 89, 'rating': 'R', 'tomatosco...","{'Genre': 'Biography', 'Gross': '$627,248', 'I...","{'popcornscore': 86, 'rating': 'R', 'tomatosco...","{'Genre': 'Biography', 'Gross': '$463,228', 'I...","{'Genre': 'Adventure', 'Gross': '$448,287', 'I...","{'popcornscore': 87, 'rating': 'R', 'tomatosco...","{'popcornscore': -1, 'rating': 'NR', 'tomatosc...","{'Genre': 'Biography', 'Gross': '$696,786', 'I..."

In [23]:
df = pd.read_excel(r"C:\Users\user\Downloads\world_population_excel_workbook.xlsx")
df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El AaiÃºn,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [37]:
df2 = pd.read_excel(r"C:\Users\user\Downloads\world_population_excel_workbook.xlsx", sheet_name = "Sheet1")
df2

     Rank CCA3                           Country              Capital
0      36  AFG                       Afghanistan                Kabul
1     138  ALB                           Albania               Tirana
2      34  DZA                           Algeria              Algiers
3     213  ASM                    American Samoa            Pago Pago
4     203  AND                           Andorra     Andorra la Vella
5      42  AGO                            Angola               Luanda
6     224  AIA                          Anguilla           The Valley
7     201  ATG               Antigua and Barbuda       Saint Johnâ€™s
8      33  ARG                         Argentina         Buenos Aires
9     140  ARM                           Armenia              Yerevan
10    198  ABW                             Aruba           Oranjestad
11     55  AUS                         Australia             Canberra
12     99  AUT                           Austria               Vienna
13     91  AZE                        Azerbaijan                 Baku
14    176  BHS                           Bahamas               Nassau
15    154  BHR                           Bahrain               Manama
16      8  BGD                        Bangladesh                Dhaka
17    186  BRB                          Barbados           Bridgetown
18     96  BLR                           Belarus                Minsk
19     81  BEL                           Belgium             Brussels
20    177  BLZ                            Belize             Belmopan
21     77  BEN                             Benin           Porto-Novo
22    206  BMU                           Bermuda             Hamilton
23    165  BTN                            Bhutan              Thimphu
24     80  BOL                           Bolivia                Sucre
25    137  BIH            Bosnia and Herzegovina             Sarajevo
26    144  BWA                          Botswana             Gaborone
27      7  BRA                            Brazil             Brasilia
28    221  VGB            British Virgin Islands            Road Town
29    175  BRN                            Brunei  Bandar Seri Begawan
30    108  BGR                          Bulgaria                Sofia
31     58  BFA                      Burkina Faso          Ouagadougou
32     78  BDI                           Burundi            Bujumbura
33     73  KHM                          Cambodia           Phnom Penh
34     53  CMR                          Cameroon              Yaounde
35     39  CAN                            Canada               Ottawa
36    171  CPV                        Cape Verde                Praia
37    205  CYM                    Cayman Islands          George Town
38    117  CAF          Central African Republic               Bangui
39     69  TCD                              Chad            N'Djamena
40     65  CHL                             Chile             Santiago
41      1  CHN                             China              Beijing
42     28  COL                          Colombia               Bogota
43    163  COM                           Comoros               Moroni
44    223  COK                      Cook Islands               Avarua
45    124  CRI                        Costa Rica            San JosÃ©
46    130  HRV                           Croatia               Zagreb
47     85  CUB                              Cuba               Havana
48    189  CUW                           Curacao           Willemstad
49    158  CYP                            Cyprus              Nicosia
50     88  CZE                    Czech Republic               Prague
51    115  DNK                           Denmark           Copenhagen
52    160  DJI                          Djibouti             Djibouti
53    204  DMA                          Dominica               Roseau
54     84  DOM                Dominican Republic        Santo Domingo
55     15  COD                          DR Congo             Kinshasa
56     67  ECU                           Ecuador                Quito
57     14  EGY                             Egypt                Cairo
58    112  SLV                       El Salvador         San Salvador
59    152  GNQ                 Equatorial Guinea               Malabo
60    132  ERI                           Eritrea               Asmara
61    156  EST                           Estonia              Tallinn
62    159  SWZ                          Eswatini              Mbabane
63     12  ETH                          Ethiopia          Addis Ababa
64    231  FLK                  Falkland Islands              Stanley
65    209  FRO                     Faroe Islands            TÃ³rshavn
66    162  FJI                              Fiji                 Suva
67    118  FIN                           Finland             Helsinki
68     23  FRA                            France                Paris
69    184  GUF                     French Guiana              Cayenne
70    183  PYF                  French Polynesia              Papeete
71    146  GAB                             Gabon           Libreville
72    142  GMB                            Gambia               Banjul
73    131  GEO                           Georgia              Tbilisi
74     19  DEU                           Germany               Berlin
75     47  GHA                             Ghana                Accra
76    219  GIB                         Gibraltar            Gibraltar
77     90  GRC                            Greece               Athens
78    208  GRL                         Greenland                 Nuuk
79    193  GRD                           Grenada       Saint George's
80    178  GLP                        Guadeloupe          Basse-Terre
81    191  GUM                              Guam            HagÃ¥tÃ±a
82     68  GTM                         Guatemala       Guatemala City
83    207  GGY                          Guernsey     Saint Peter Port
84     75  GIN                            Guinea              Conakry
85    149  GNB                     Guinea-Bissau               Bissau
86    164  GUY                            Guyana           Georgetown
87     82  HTI                             Haiti       Port-au-Prince
88     89  HND                          Honduras          Tegucigalpa
89    104  HKG                         Hong Kong            Hong Kong
90     94  HUN                           Hungary             Budapest
91    179  ISL                           Iceland           ReykjavÃ­k
92      2  IND                             India            New Delhi
93      4  IDN                         Indonesia              Jakarta
94     17  IRN                              Iran               Tehran
95     35  IRQ                              Iraq              Baghdad
96    125  IRL                           Ireland               Dublin
97    202  IMN                       Isle of Man              Douglas
98     98  ISR                            Israel            Jerusalem
99     25  ITA                             Italy                 Rome
100    52  CIV                       Ivory Coast         Yamoussoukro
101   139  JAM                           Jamaica             Kingston
102    11  JPN                             Japan                Tokyo
103   195  JEY                            Jersey         Saint Helier
104    83  JOR                            Jordan                Amman
105    66  KAZ                        Kazakhstan            Nursultan
106    27  KEN                             Kenya              Nairobi
107   192  KIR                          Kiribati               Tarawa
108   129  KWT                            Kuwait          Kuwait City
109   110  KGZ                        Kyrgyzstan              Bishkek
110   103  LAO                              Laos            Vientiane
111   151  LVA                            Latvia                 Riga
112   119  LBN                           Lebanon               Beirut
113   147  LSO                           Lesotho               Maseru
114   121  LBR                           Liberia             Monrovia
115   107  LBY                             Libya              Tripoli
116   216  LIE                     Liechtenstein                Vaduz
117   141  LTU                         Lithuania              Vilnius
118   168  LUX                        Luxembourg           Luxembourg
119   167  MAC                             Macau    Concelho de Macau
120    50  MDG                        Madagascar         Antananarivo
121    62  MWI                            Malawi             Lilongwe
122    45  MYS                          Malaysia         Kuala Lumpur
123   174  MDV                          Maldives                MalÃ©
124    59  MLI                              Mali               Bamako
125   173  MLT                             Malta             Valletta
126   215  MHL                  Marshall Islands               Majuro
127   180  MTQ                        Martinique       Fort-de-France
128   126  MRT                        Mauritania           Nouakchott
129   157  MUS                         Mauritius           Port Louis
130   182  MYT                           Mayotte            Mamoudzou
131    10  MEX                            Mexico          Mexico City
132   194  FSM                        Micronesia              Palikir
133   135  MDA                           Moldova             Chisinau
134   217  MCO                            Monaco               Monaco
135   134  MNG                          Mongolia          Ulaanbaatar
136   169  MNE                        Montenegro            Podgorica
137   230  MSR                        Montserrat               Brades
138    40  MAR                           Morocco                Rabat
139    48  MOZ                        Mozambique               Maputo
140    26  MMR                           Myanmar          Nay Pyi Taw
141   145  NAM                           Namibia             Windhoek
142   225  NRU                             Nauru                Yaren
143    49  NPL                             Nepal            Kathmandu
144    71  NLD                       Netherlands            Amsterdam
145   185  NCL                     New Caledonia              NoumÃ©a
146   123  NZL                       New Zealand           Wellington
147   106  NIC                         Nicaragua              Managua
148    54  NER                             Niger               Niamey
149     6  NGA                           Nigeria                Abuja
150   232  NIU                              Niue                Alofi
151    56  PRK                       North Korea            Pyongyang
152   150  MKD                   North Macedonia               Skopje
153   210  NFK          Northern Mariana Islands               Saipan
154   120  NOR                            Norway                 Oslo
155   127  OMN                              Oman               Muscat
156     5  PAK                          Pakistan            Islamabad
157   222  PLW                             Palau            Ngerulmud
158   122  PSE                         Palestine             Ramallah
159   128  PAN                            Panama          Panama City
160    93  PNG                  Papua New Guinea         Port Moresby
161   109  PRY                          Paraguay            AsunciÃ³n
162    44  PER                              Peru                 Lima
163    13  PHL                       Philippines               Manila
164    37  POL                            Poland               Warsaw
165    92  PRT                          Portugal               Lisbon
166   136  PRI                       Puerto Rico             San Juan
167   143  QAT                             Qatar                 Doha
168   114  COG             Republic of the Congo          Brazzaville
169   161  REU                           Reunion          Saint-Denis
170    64  ROU                           Romania            Bucharest
171     9  RUS                            Russia               Moscow
172    76  RWA                            Rwanda               Kigali
173   228  BLM                  Saint Barthelemy             Gustavia
174   211  KNA             Saint Kitts and Nevis           Basseterre
175   190  LCA                       Saint Lucia             Castries
176   220  MAF                      Saint Martin              Marigot
177   229  SPM         Saint Pierre and Miquelon         Saint-Pierre
178   199  VCT  Saint Vincent and the Grenadines            Kingstown
179   188  WSM                             Samoa                 Apia
180   218  SMR                        San Marino           San Marino
181   187  STP             Sao Tome and Principe           SÃ£o TomÃ©
182    41  SAU                      Saudi Arabia               Riyadh
183    72  SEN                           Senegal                Dakar
184   105  SRB                            Serbia             Belgrade
185   196  SYC                        Seychelles             Victoria
186   102  SLE                      Sierra Leone             Freetown
187   113  SGP                         Singapore            Singapore
188   214  SXM                      Sint Maarten          Philipsburg
189   116  SVK                          Slovakia           Bratislava
190   148  SVN                          Slovenia            Ljubljana
191   166  SLB                   Solomon Islands              Honiara
192    70  SOM                           Somalia            Mogadishu
193    24  ZAF                      South Africa             Pretoria
194    29  KOR                       South Korea                Seoul
195    86  SSD                       South Sudan                 Juba
196    30  ESP                             Spain               Madrid
197    61  LKA                         Sri Lanka              Colombo
198    32  SDN                             Sudan             Khartoum
199   170  SUR                          Suriname           Paramaribo
200    87  SWE                            Sweden            Stockholm
201   101  CHE                       Switzerland                 Bern
202    60  SYR                             Syria             Damascus
203    57  TWN                            Taiwan               Taipei
204    95  TJK                        Tajikistan             Dushanbe
205    22  TZA                          Tanzania               Dodoma
206    20  THA                          Thailand              Bangkok
207   155  TLS                       Timor-Leste                 Dili
208   100  TGO                              Togo                LomÃ©
209   233  TKL                           Tokelau             Nukunonu
210   197  TON                             Tonga         Nukuâ€˜alofa
211   153  TTO               Trinidad and Tobago        Port-of-Spain
212    79  TUN                           Tunisia                Tunis
213    18  TUR                            Turkey               Ankara
214   111  TKM                      Turkmenistan             Ashgabat
215   212  TCA          Turks and Caicos Islands        Cockburn Town
216   227  TUV                            Tuvalu             Funafuti
217    31  UGA                            Uganda              Kampala
218    38  UKR                           Ukraine                 Kiev
219    97  ARE              United Arab Emirates            Abu Dhabi
220    21  GBR                    United Kingdom               London
221     3  USA                     United States     Washington, D.C.
222   200  VIR      United States Virgin Islands     Charlotte Amalie
223   133  URY                           Uruguay           Montevideo
224    43  UZB                        Uzbekistan             Tashkent
225   181  VUT                           Vanuatu            Port-Vila
226   234  VAT                      Vatican City         Vatican City
227    51  VEN                         Venezuela              Caracas
228    16  VNM                           Vietnam                Hanoi
229   226  WLF                 Wallis and Futuna             Mata-Utu
230   172  ESH                    Western Sahara            El AaiÃºn
231    46  YEM                             Yemen                Sanaa
232    63  ZMB                            Zambia               Lusaka
233    74  ZWE                          Zimbabwe               Harare

In [33]:
pd.set_option("display.max.rows", 235)
pd.set_option("display.max.columns", 40)

In [47]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     234 non-null    int64
 1   CCA3     234 non-null    object
 2   Country  234 non-null    object
 3   Capital  234 non-null    object
dtypes: int64(1), object(3)
memory usage: 7.4+ KB

In [43]:
df2.shape

(234, 4)

In [49]:
df2.head()

   Rank CCA3         Country           Capital
0    36  AFG     Afghanistan             Kabul
1   138  ALB         Albania            Tirana
2    34  DZA         Algeria           Algiers
3   213  ASM  American Samoa         Pago Pago
4   203  AND         Andorra  Andorra la Vella

In [51]:
df2.head(10)

   Rank CCA3              Country           Capital
0    36  AFG          Afghanistan             Kabul
1   138  ALB              Albania            Tirana
2    34  DZA              Algeria           Algiers
3   213  ASM       American Samoa         Pago Pago
4   203  AND              Andorra  Andorra la Vella
5    42  AGO               Angola            Luanda
6   224  AIA             Anguilla        The Valley
7   201  ATG  Antigua and Barbuda    Saint Johnâ€™s
8    33  ARG            Argentina      Buenos Aires
9   140  ARM              Armenia           Yerevan

In [53]:
df2.tail(10)

     Rank CCA3            Country       Capital
224    43  UZB         Uzbekistan      Tashkent
225   181  VUT            Vanuatu     Port-Vila
226   234  VAT       Vatican City  Vatican City
227    51  VEN          Venezuela       Caracas
228    16  VNM            Vietnam         Hanoi
229   226  WLF  Wallis and Futuna      Mata-Utu
230   172  ESH     Western Sahara     El AaiÃºn
231    46  YEM              Yemen         Sanaa
232    63  ZMB             Zambia        Lusaka
233    74  ZWE           Zimbabwe        Harare

In [57]:
df2['Rank']

0       36
1      138
2       34
3      213
4      203
5       42
6      224
7      201
8       33
9      140
10     198
11      55
12      99
13      91
14     176
15     154
16       8
17     186
18      96
19      81
20     177
21      77
22     206
23     165
24      80
25     137
26     144
27       7
28     221
29     175
30     108
31      58
32      78
33      73
34      53
35      39
36     171
37     205
38     117
39      69
40      65
41       1
42      28
43     163
44     223
45     124
46     130
47      85
48     189
49     158
50      88
51     115
52     160
53     204
54      84
55      15
56      67
57      14
58     112
59     152
60     132
61     156
62     159
63      12
64     231
65     209
66     162
67     118
68      23
69     184
70     183
71     146
72     142
73     131
74      19
75      47
76     219
77      90
78     208
79     193
80     178
81     191
82      68
83     207
84      75
85     149
86     164
87      82
88      89
89     104
90      94
91     179
92       2
93       4
94      17
95      35
96     125
97     202
98      98
99      25
100     52
101    139
102     11
103    195
104     83
105     66
106     27
107    192
108    129
109    110
110    103
111    151
112    119
113    147
114    121
115    107
116    216
117    141
118    168
119    167
120     50
121     62
122     45
123    174
124     59
125    173
126    215
127    180
128    126
129    157
130    182
131     10
132    194
133    135
134    217
135    134
136    169
137    230
138     40
139     48
140     26
141    145
142    225
143     49
144     71
145    185
146    123
147    106
148     54
149      6
150    232
151     56
152    150
153    210
154    120
155    127
156      5
157    222
158    122
159    128
160     93
161    109
162     44
163     13
164     37
165     92
166    136
167    143
168    114
169    161
170     64
171      9
172     76
173    228
174    211
175    190
176    220
177    229
178    199
179    188
180    218
181    187
182     41
183     72
184    105
185    196
186    102
187    113
188    214
189    116
190    148
191    166
192     70
193     24
194     29
195     86
196     30
197     61
198     32
199    170
200     87
201    101
202     60
203     57
204     95
205     22
206     20
207    155
208    100
209    233
210    197
211    153
212     79
213     18
214    111
215    212
216    227
217     31
218     38
219     97
220     21
221      3
222    200
223    133
224     43
225    181
226    234
227     51
228     16
229    226
230    172
231     46
232     63
233     74
Name: Rank, dtype: int64

In [59]:
df2.loc[224]

Rank               43
CCA3              UZB
Country    Uzbekistan
Capital      Tashkent
Name: 224, dtype: object

In [61]:
df2.iloc[224]

Rank               43
CCA3              UZB
Country    Uzbekistan
Capital      Tashkent
Name: 224, dtype: object